@use "../../assets/sass/variables" as *;

.cards-container {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 580px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1150px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: 1520px) {
        width: 1500px;
        margin: auto;
    }

}

.card {
    background: $color-primary;
    box-shadow: $shadow-primary;
    width: 95%;
    max-width: 245px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    height: 300px;
    color: $color-fifth;
    position: relative;

    &__delete {
        position: absolute;
        right: 8%;
        top: 0;
        cursor: pointer;

        &:hover {
            font-size: 1.8rem;
            transform: translateY(-20px);
        }
    }

    &__role {
        color: $color-third;
        font-family: $font-secondary;
        font-size: 1.2rem;
    }
}


.pagination {
    list-style: none;
    display: flex;
    margin: 20px auto;
  }
   
    .pagination a {
        padding: 8px 10px;
        border-radius: 7px;
        border: 2px solid $color-fifth;
        color: $color-fifth;
        cursor: pointer;
        margin: 3px;

        &:hover {
            color: white;
            background-color: $color-fifth;
        }
    }

    .active a {
        color: white;
        background-color: $color-fifth;
}