@use "../assets/sass/variables" as *;

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (min-width: 580px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1150px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: 1500px) {
        grid-template-columns: repeat(6, 1fr);
    }
    @media screen and (min-width: 1650px) {
        width: 1650px;
        margin: auto;
    }
}

.card {
    background: $color-primary;
    box-shadow: $shadow-primary;
    width: 90%;
    max-width: 245px;
    text-align: center;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    height: 300px;
    color: $color-fifth;
    position: relative;
}

.role {
    color: $color-third;
    font-family: $font-secondary;
    font-size: 1.2rem;
}

.delete {
    position: absolute;
    right: 8%;
    top: 0;
    cursor: pointer;
}