.counter {
    border: 1px solid black;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}
.adjust-button {
    margin: 3% 10%;
    border: none;
    border-radius: 3px;
    background-color: turquoise;
    font-size: 1.3rem;
}