@use "../assets/sass/variables" as *;

.counter {
    border: 1px solid black;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__number {
        font-family: $font-numbers;
    }
}
.adjust-button {

    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.3rem;
    padding-bottom: 2px;
    color: $color-forth;
}
