@use "../assets/sass/variables" as *;

.header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    color: $color-forth;
}

.add-button {
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    border: none;
    box-shadow: -3px 3px 5px $color-third;
    background-color: $color-primary;
    width: 50%;
    margin: 0.8rem auto;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
    }

    .add-button {
        width: 10rem;
        margin: 1rem 15% 1.5rem 10%;
    }
}

@media screen and (min-width: 1200px) {
    .add-button {
        width: 13rem;
        margin: 1rem 20% 1.5rem 10%;
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1650px) {
    .header {
        width: 1650px;
        margin: auto;
    }
}

