@use "../assets/sass/variables" as *;

.search-bar input {
    text-align: center;
    // width: 80%;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    box-shadow: -3px 3px 5px $color-third;
    margin-top: 10px;

    &:focus {
        outline: none;
    }

    @media screen and (min-width: 768px) {

        margin-top: 1.3rem;
    }

}
