@use "../../assets/sass/variables" as *;

.header {
    display: flex;
    flex-direction: column-reverse;
    color: $color-forth;

    &__add-button {
        padding: 0.8rem 1.5rem;
        border-radius: 20px;
        border: none;
        box-shadow: $shadow-primary;
        background-color: $color-primary;
        width: 50%;
        margin: 16px auto;

        &:hover {
            background-color:$color-fifth;
            color: $color-primary;
        }
    }

}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-around;

        &__add-button {
            width: 10rem;
            margin: 1rem 0 1.5rem 10%;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header__add-button {
        width: 13rem;
        margin: 1rem 0 1.5rem 10%;
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1650px) {
    .header {
        width: 1650px;
        margin: auto;
    }
}

