@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Quicksand&display=swap');

$font-secondary: 'Quicksand', sans-serif;
$font-numbers: 'Lato', sans-serif;


$color-primary: #fffcf2;
$color-secondary: #ccc5b9;
$color-third: #403d39;
$color-forth: #252422;
$color-fifth: #eb5e28;

$shadow-primary: -3px 3px 8px $color-third;
$shadow-small: -1px 1px 3px $color-third;